[Unit]
Description=Daemon for listening for commands over the uart port
BindsTo=sys-devices-c280000.serial-tty-ttyTHS2.device
Requires=command-listener-pre.service
After=sys-devices-c280000.serial-tty-ttyTHS2.device command-listener-pre.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/nvidia/transfer-temp
ExecStart=/home/nvidia/orbit/cdh_comm/payload-command-protocol/build/command-listener
ExecStart=/sbin/poweroff
FailureAction=poweroff

[Install]
WantedBy=multi-user.target
