[Unit]
Description=Daemon for listening for commands over the uart port
BindsTo=sys-devices-3110000.serial-tty-ttyTHS1.device
After=sys-devices-3110000.serial-tty-ttyTHS1.device

[Service]
Type=simple
User=root
WorkingDirectory=/home/nvidia/orbit/workspace
ExecStartPre=/bin/stty -F /dev/ttyTHS1 115200 raw -echo
#ExecStart=/home/nvidia/orbit/cdh_comm/payload-command-protocol/build/command-listener
ExecStart=/home/nvidia/orbit/workspace/bin/command-listener
# TODO: send a code to CDH that this was the type of failure?
#ExecStopPost=/bin/systemctl poweroff

[Install]
WantedBy=multi-user.target
