[Unit]
Description=Service for running the heartbeat to let CDH know we're alive
Requires=heartbeat-pre.service
After=sys-kernel-config.mount heartbeat-pre.service

[Service]
Type=simple
User=root
ExecStart=/home/nvidia/orbit/cdh_comm/payload-command-protocol/heartbeat.sh
Restart=always

[Install]
WantedBy=multi-user.target
